**/bin
**/obj
**/.git
**/.gitignore
**/.idea
**/.vscode
**/node_modules
**/dist
**/coverage
**/.angular
**/npm-debug.log
**/yarn-error.log
**/.DS_Store
**/Thumbs.db
**/*.user
**/*.suo
**/*.cache
**/*.tmp
**/npm-cache
**/tmp
**/logs
**/*.pdb
